/* This is an example of how to import a partial scss file*/
@import "_variables";
html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url("../images/luggage.jpg");
  background-size: cover;
}

h1 {
  font-size: 30px;
  margin: 15px;
  font-family: sans-serif;
}


.estimated-cost,
.total-spent {
  font-size: 19px;
}
.oneTrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e7e7e5;
  margin: 15px;
  border-radius: 40px;
  box-shadow: 1px 1px 30px 1px #5f6060ab;
}

.title {
  font-size: 30px;
}

.square {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allTripsWrapper {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 60vh;
  overflow: auto;
  justify-content: center;
  border-radius: 30px;
  background: #fefefe;
  box-shadow: 1px 1px 30px 1px #5f60603d inset;
}

.scroll {
  height: 453px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

.pendingTrips {
  opacity: 50%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  justify-content: space-evenly;
}
.destination {
  z-index: 10;
}
.trip-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-input,
.duration-input,
.travelers-input,
.destination-drop-down {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 100%;
  height: 3vh;
  width: 10vw;
  margin: 1%;
  padding: 1%;
}

.destination-drop-down {
  height: 6vh;
}

.welcomeBanner {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: #fdfdfd9e;
  margin-bottom: 20px;
}

.hidden {
  display: none !important;
}

.input-forms {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.oneClickedTrip {
  height: 500px;
  width: 800px;
  border: solid yellow;
}

.location-picture {
  height: 300px;
  width: 400px;
}

.expanedCardImg {
  width: 300px; /* you can use % */
  height: auto;
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-inputs {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 43px;
  background-color: #fefefeed;
  padding: 80px;
}

.password{
  margin-bottom: 20px;
}
.submit-button{
  margin-bottom: 20px;
}

.submit-button,
.calculate-button{
  border-radius: 20px;
  height: 6vh;
  border-width: 1px;
}
